:root {
  --clr-primary: #fff;
  --clr-secondary: rgb(50, 153, 160);
  --clr-white: rgb(236, 235, 235);
  --clr-black: #333;
  --clr-gray: #ccc;
  --clr-dark-gray: #666;
  --clr-overlay: rgba(0, 0, 0, 0.8);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  color: var(var(--clr-black));
  scroll-behavior: smooth;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: var(--clr-black);
}

i {
  cursor: pointer;
}

.header {
  height: 100%;
  position: relative;
  z-index: 999;
}

.logo {
  display: none;
  position: fixed;
  left: 2rem;
  top: 2rem;
  z-index: 99999;
}

.logo p {
  font-size: 2rem;
}
.menu-toggle {
  position: fixed;
  right: 2rem;
  top: 2rem;
  color: var(--clr-black);
  z-index: 999;
  cursor: pointer;
  outline: none;
}

header .fa-bars,
header .fa-times {
  font-size: 3rem;
}

header .fa-times {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.overlay {
  background: var(--clr-overlay);
  height: 100vh;
  width: 100%;
  z-index: 99999;
  position: absolute;
  opacity: 0;
  width: 0;
  transition: opacity 0.5s;
  position: fixed;
}

.overlay-active {
  transition: opacity 0.5s;
  width: 100%;
  opacity: 1;
}

.nav {
  transform: translateX(25rem);
  background: var(--clr-white);
  position: fixed;
  top: 0;
  right: 0;
  width: 25rem;
  height: 100vh;
  z-index: 99999;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: transform 0.5s;
}

.nav-open {
  transform: translateX(0rem);
}

.nav__menu-list {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.nav__menu-list ul {
  list-style: none;
  text-align: center;
}

.nav__menu-list li {
  padding-bottom: 2rem;
  font-size: 2rem;
}

.nav__menu-list a {
  width: 100%;
  position: relative;
}

.nav__menu-list a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1.2rem;
  background-color: var(--clr-black);
  height: 0.2rem;
  transition: 0.3s;
}

.nav__menu-list a:hover::after {
  width: 100%;
}

.nav__social {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.nav__social i {
  font-size: 2.5rem;
  color: var(--clr-black);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100vw;
  height: 100vh;
  position: relative;
  background: url("https://images.unsplash.com/photo-1523726491678-bf852e717f6a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80")
    center center no-repeat;
  background-size: cover;
}

.main:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(0deg, #a1fff2 0%, #c168b0 92%);
  opacity: 0.7;
  z-index: 1;
}

.main__hero {
  height: calc(80vh - 3rem);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.main__hero-left {
  text-align: center;
}

.main__hero-left h1 {
  font-size: 5rem;
  line-height: 5rem;
  color: var(--clr-white);
  text-shadow: 0px 2px 2px var(--clr-black);
}

/* css profesion inicia */

.ms-header__title {
  -webkit-box-flex: 1;
  flex: 1 1 100%;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: var(--clr-black);
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}

.ms-slider {
  display: inline-block;
  height: 3.3rem;
  overflow: hidden;
  vertical-align: middle;
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(white),
    color-stop(white),
    color-stop(white),
    to(transparent)
  );
  -webkit-mask-image: linear-gradient(
    transparent,
    white,
    white,
    white,
    transparent
  );
  mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(white),
    color-stop(white),
    color-stop(white),
    to(transparent)
  );
  mask-image: linear-gradient(transparent, white, white, white, transparent);
  mask-type: luminance;
  mask-mode: alpha;
}
.ms-slider__words {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-animation-name: wordSlider;
  animation-name: wordSlider;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
}
.ms-slider__word {
  display: block;
  line-height: 1.3em;
  text-align: center;
}

@-webkit-keyframes wordSlider {
  0%,
  27% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  33%,
  60% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  66%,
  93% {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  100% {
    -webkit-transform: translateY(-75%);
    transform: translateY(-75%);
  }
}

@keyframes wordSlider {
  0%,
  27% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  33%,
  60% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  66%,
  93% {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  100% {
    -webkit-transform: translateY(-75%);
    transform: translateY(-75%);
  }
}
/* css profesion termina */
.main__hero-left p {
  font-size: 3rem;
  color: var(--clr-black);
}

.chevron__container {
  text-align: center;
  animation-duration: 5s;
  z-index: 2;
}
.chevron__container i {
  font-size: 2rem;
}
.chevron__container p:last-child {
  margin-top: -1.3rem;
}

.main__content {
  margin: 0 auto;
  max-width: 1500px;
}

/* MAIN */

.section-container {
  padding-top: 80px;
  padding-bottom: 80px;
  width: 70%;
  max-width: 1400px;
  margin: 0 auto;
}

.section-title {
  color: #333;
  font-size: 3rem;
  margin-bottom: 3rem;
}

.about-profile-container {
  display: grid;
  grid-template-columns: 1fr 0.6fr;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  /* box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.19); */
}

.about__portrait {
  background: url("../images/avataaars.svg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  order: 2;
}

.about__description {
  order: 1;
}

.about__description p {
  line-height: 1.5;

  font-size: 1.8rem;
  padding: 1.5rem;
}

.about__description p span {
  color: var(--clr-secondary);
}

/* projects section */

.containerux {
  margin: 0 auto;
}

.filters {
  width: 100%;
  text-align: center;
}

.filters ul {
  list-style: none;
  padding: 20px 0;
}

.filters li {
  display: inline;
  padding: 10px 25px;
  font-size: 14px;
  color: #636363;
  font-weight: 400;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.filters li:hover {
  color: #a6a6a6;
}

.filters li.active {
  color: #ccc;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.p2:hover {
  opacity: 0.3;
  cursor: pointer;
}

.content-uxui {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-content img {
  width: 250px;
  height: 100%;
  margin: 10px;
}

/* contact me section  */

.contact-container {
  display: flex;
  justify-content: stretch;
}

.contact-container-left {
  background: #c168b0;
  width: 55%;
  padding: 3rem;
  border-radius: 1rem 0 0 1rem;
}

.left-contact-data ul {
  list-style: none;
}
.contact-container-right {
  /* background: mediumpurple; */
  width: 45%;
  padding: 3rem 0;
  border-radius: 0 1rem 1rem 0;
  border: 1px solid #c168b0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.form-row {
  position: relative;
  margin-bottom: 3rem;
}
.contact-form label {
  position: absolute;
  left: 0;
  bottom: 0.6rem;
  color: var(--clr-dark-gray);
  font-size: 1.8rem;
  pointer-events: none;
  transition: all 0.5s;
}

.contact-form .input:focus ~ label,
.contact-form .input:valid ~ label {
  font-size: 1rem;
  top: 0;
  color: var(--clr-secondary);
}

.contact-form .input {
  color: var(--clr-dark-gray);
  width: 100%;
  /* background-color: rgba(255, 255, 255, 0.5); */
  border: none;
  border-bottom: 1px solid var(--clr-gray);
  height: 40px;
  letter-spacing: 0.2rem;
  padding: 1rem;
  position: relative;
}

.contact-form .textarea {
  resize: none;
  height: 10rem;
}

.contact-form .input:focus {
  outline: none;
  color: var(--clr-black);
}

.form-line:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(to right, #c168b0, #a1fff2, #c168b0);
  height: 0.2rem;
  width: 50%;
  transition: all 0.5s;
}

.contact-form .input:focus ~ .form-line:after {
  width: 100%;
}

.btn-submit {
  border: none;
  padding: 1rem;
}

@media screen and (max-width: 880px) {
  .section-container {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 85%;
  }
  .about-profile-container {
    grid-template-columns: 1fr;
  }
  .about__portrait {
    height: 200px;
    background-position: top;
    order: 1;
    background-size: contain;
  }
  .contact-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-container-left {
    width: 80%;

    border-radius: 1rem 1rem 0 0;
  }

  .contact-container-right {
    width: 80%;

    border-radius: 0 0 1rem 1rem;
  }
}

@media screen and (max-width: 450px) {
  .nav {
    transform: translateX(100%);
    width: 100%;
  }
  .nav-open {
    transform: translateX(0%);
  }
}
