:root {
  --clr-primary: #870095;
  --clr-secondary: rgb(50, 153, 160);
  --clr-blue: #3f5efb;
  --clr-blue-light: #8196ff;
  --clr-white: #ecebeb;
  --clr-beige: #fffef6;
  --clr-black: #333;
  --clr-gray: #ccc;
  --clr-dark-gray: #666;
  --clr-overlay: rgba(0, 0, 0, 0.8);
  --clr-alt: #fc466b;
  --clr-lila: #fcf1fd;
  --font1: "Merriweather", serif;
  --font2: "Fira Sans", sans-serif;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  color: var(var(--clr-black));
  scroll-behavior: smooth;
  margin: 0 auto;
  font-family: "Arimo", sans-serif;
  font-family: "Fira Sans", sans-serif;
}

a {
  text-decoration: none;
  color: var(--clr-black);
}

i {
  cursor: pointer;
}

.header {
  height: 100%;
  position: relative;
  z-index: 999;
}

.logo {
  display: none;
  position: fixed;
  left: 2rem;
  top: 2rem;
  z-index: 99999;
}

.logo p {
  font-size: 2rem;
  font-family: var(--font1);
}
.menu-toggle {
  position: fixed;
  right: 2rem;
  top: 2rem;
  color: var(--clr-beige);
  z-index: 999;
  cursor: pointer;
  outline: none;
}

header .fa-bars,
header .fa-times {
  font-size: 3rem;
}

header .fa-times {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.overlay {
  background: var(--clr-overlay);
  height: 100vh;
  width: 100%;
  z-index: 99999;
  position: absolute;
  opacity: 0;
  width: 0;
  transition: opacity 0.5s;
  position: fixed;
}

.overlay-active {
  transition: opacity 0.5s;
  width: 100%;
  opacity: 1;
}

.nav {
  transform: translateX(25rem);
  position: fixed;
  top: 0;
  right: 0;
  width: 25rem;
  height: 100vh;
  z-index: 99999;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: transform 0.5s;
  background-color: var(--clr-beige);
}

.nav-open {
  transform: translateX(0rem);
  background-color: var(--clr-beige);
}

.nav__menu-list {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.nav__menu-list ul {
  list-style: none;
  text-align: center;
}

.nav__menu-list li {
  padding-bottom: 2rem;
  font-family: var(--font1);
  font-size: 1.8rem;
}

.nav__menu-ul a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1.2rem;
  background-color: var(--clr-primary);
  height: 0.2rem;
  transition: 0.3s;
}

.nav__menu-list a:hover::after {
  width: 100%;
}

.nav__menu-ul a {
  width: 100%;
  position: relative;
}

.nav__social {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.nav__social i {
  font-size: 3rem;
  color: var(--clr-black);
}

.nav__social i:hover {
  font-size: 3rem;
  color: var(--clr-primary);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  background: url("../images/triangle.jpg") left center no-repeat;
  background-size: cover;
}

.main:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(63, 94, 251);
  background: linear-gradient(
    228deg,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 0.5158438375350141) 95%
  );
  opacity: 0.7;
  z-index: 1;
}

.main__hero {
  height: calc(80vh - 3rem);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.main__hero-left {
  text-align: center;
}

.main__hero-left h1 {
  font-family: var(--font1);
  font-size: 5rem;
  line-height: 2rem;
  color: var(--clr-beige);
  text-shadow: 0px 0px 2px var(--clr-black);
  margin-bottom: 10px;
}

/* css profesion inicia */

.ms-header__title {
  -webkit-box-flex: 1;
  flex: 1 1 100%;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-family: var(--font2);
  color: #000000;
}

.ms-slider {
  display: inline-block;
  height: 3.3rem;
  overflow: hidden;
  vertical-align: middle;
}
.ms-slider__words {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-animation-name: wordSlider;
  animation-name: wordSlider;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
}
.ms-slider__word {
  display: block;
  line-height: 1.3em;
  text-align: center;
}

@-webkit-keyframes wordSlider {
  0%,
  27% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  33%,
  60% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  66%,
  93% {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  100% {
    -webkit-transform: translateY(-75%);
    transform: translateY(-75%);
  }
}

@keyframes wordSlider {
  0%,
  27% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  33%,
  60% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  66%,
  93% {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  100% {
    -webkit-transform: translateY(-75%);
    transform: translateY(-75%);
  }
}
/* css profesion termina */
.main__hero-left p {
  font-size: 3rem;
  font-weight: 400;
  font-family: var(--font2);
  color: var(--clr-black);
}

.chevron__container {
  text-align: center;
  animation-duration: 5s;
  z-index: 2;
}
.chevron__container i {
  font-size: 2rem;
  color: var(--clr-beige);
}
.chevron__container p:last-child {
  margin-top: -1.3rem;
}

.main__content {
  margin: 0 auto;
  max-width: 1400px;
}

/* MAIN */

.section-container {
  padding-top: 80px;
  padding-bottom: 80px;
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  color: var(--clr-primary);
  font-family: var(--font1);
  font-size: 3rem;
  margin-bottom: 3rem;
  text-align: center;
}

.about-profile-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.about__portrait {
  background: url("../images/avataaars.svg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  order: 2;
}

.about__description {
  order: 1;
}

.about__description p {
  line-height: 1.5;
  font-family: var(--font2);
  font-size: 1.7rem;
  padding: 1.5rem;
}

.about__description p span {
  color: var(--clr-blue);
}

/* projects section */

.uxui-background {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23870095' fill-opacity='0.19'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.uxui__description p {
  line-height: 1.5;
  font-family: var(--font2);
  font-size: 1.7rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 50%;
  justify-content: center;
  text-align: center;
  /* border: solid 1px red; */
}

.uxui__description p span {
  color: var(--clr-blue);
}

.containerux {
  margin: 0 auto;
}

.filters {
  width: 100%;
  text-align: center;
}

.filters ul {
  list-style: none;
  padding: 20px 0;
}

.filters li {
  display: inline;
  padding: 10px 25px;
  font-size: 16px;
  font-family: var(--font1);
  color: var(--clr-dark-gray);
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.filters li:hover {
  color: #a6a6a6;
}

.filters li.active {
  color: var(--clr-dark-gray);
  border: 1px solid #ccc;
  border-radius: 15px;
}

.p2:hover {
  opacity: 0.3;
  cursor: pointer;
}

.content-uxui {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-content img {
  width: 250px;
  height: 100%;
  margin: 10px;
}

/* skills secton  */
.skills-background {
  background-color: var(--clr-lila);
}

.skills-container {
  width: 80%;
  margin: 0 auto;
}

.skills-container ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-container i {
  font-size: 10rem;
  margin: 3rem;
  color: var(--clr-black);
  transition: transform 0.5s;
}

.skills-container i:hover {
  transform: scale(1.1);
  color: var(--clr-primary);
  transition: transform 0.2s;
}

.skills__p p {
  line-height: 1.5;
  font-family: var(--font2);
  font-size: 1.7rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 50%;
  justify-content: center;
  text-align: center;
}

.skills__p span {
  color: var(--clr-blue);
}
/* comunication section  */

.comunication-background {
  /* background: #fbd3ff; */
}

.comunication-a {
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.comunication-reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.comunication-desc {
  width: 70%;
  line-height: 1.5;
  font-family: var(--font2);
  font-size: 1.7rem;
  padding: 2rem;
}

.comunication-image {
  width: 50%;
  padding: 1.5rem;
}

.comunication-image img {
  width: 100%;
}

/* contact me section  */

.contact-container {
  width: 90%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.contact-background {
  background-color: #870095;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%23ffffff' fill-opacity='0.19' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
}

.section-title__contact {
  color: var(--clr-beige);
}

.contact-container-left {
  background: var(--clr-lila);
  width: 45%;
  border-radius: 1rem 0 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 1px solid var(--clr-primary); */
  line-height: 1.5;
  font-family: var(--font1);
  font-size: 2rem;
  padding: 5rem;
  text-align: center;
}

.contact-container-left i {
  font-size: 5rem;
}

.contact-container-left i:hover {
  font-size: 5rem;
  color: var(--clr-primary);
}

.contact-container-right {
  width: 55%;
  padding: 3rem 0;
  border-radius: 0 1rem 1rem 0;
  border: 1px solid var(--clr-lila);
  background-color: var(--clr-beige);
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.form-row {
  position: relative;
  margin-bottom: 1rem;
}

.contact-form label {
  position: absolute;
  left: 0;
  bottom: 0.6rem;
  color: var(--clr-dark-gray);
  font-size: 1.8rem;
  pointer-events: none;
  transition: all 0.5s;
}

.contact-form .input:focus ~ label,
.contact-form .input:valid ~ label {
  font-size: 1.8rem;
  top: 0;
  color: var(--clr-primary);
}

.contact-form .input {
  color: var(--clr-dark-gray);
  width: 100%;
  background-color: var(--clr-beige);
  border: none;
  border-bottom: 1px solid var(--clr-gray);
  height: 60px;
  letter-spacing: 0.2rem;
  padding: 1rem;
  position: relative;
  bottom: 0;
}

.contact-form .textarea {
  resize: none;
  height: 5rem;
  background-color: var(--clr-beige);
}

.contact-form .input:focus {
  outline: none;
  color: var(--clr-black);
  background-color: var(--clr-beige);
}

.form-line:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.5rem;
  width: 0%;
  transition: all 0.5s;
}

.contact-form .input:focus ~ .form-line:after {
  width: 100%;
  background-color: var(--clr-beige);
}

.btn-submit {
  border: none;
  padding: 2rem;
  background: var(--clr-primary);
  color: var(--clr-white);
  font-size: 1.5rem;
}

.btn-submit:hover {
  padding: 2rem;
  border: solid 1px var(--clr-primary);
  margin: -1px;
  background: var(--clr-lila);
  color: var(--clr-black);
  font-size: 1.5rem;
}

/* Caso 1-CSS */

.main__caso {
  padding-top: 80px;
  padding-bottom: 80px;
  width: 100%;
  margin: 0 auto;
}

.header-caso-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  /* background: url("../images/triangle.jpg") left center no-repeat; */
  background-size: cover;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--clr-primary);
  /* opacity: 0.7; */
  z-index: 1;
}

.header__caso-1 {
  height: 40vh;
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  padding-top: 10rem;
}

.header__left-caso-1 {
  flex-direction: column;
}

.header__left-caso-1 img {
  width: 50%;
}

.header__left-caso-1 h1 {
  font-family: var(--font1);
  font-size: 5rem;
  line-height: 5rem;
  color: var(--clr-beige);
  text-shadow: 0px 0px 1px var(--clr-black);
}

.header__left-caso-1 p {
  width: 80%;
  font-size: 1.7rem;
  font-weight: 300;
  font-family: var(--font2);
  color: var(--clr-beige);
  padding-top: 3rem;
}

.chevron__container-caso-1 {
  text-align: center;
  animation-duration: 5s;
  z-index: 2;
  margin-bottom: 3rem;
}
.chevron__container-caso-1 i {
  font-size: 2rem;
  color: var(--clr-beige);
}
.chevron__container-caso-1 p:last-child {
  margin-top: -1.3rem;
}

.ficha-section {
  width: 100vh;
  margin: 0 auto;
}

.ficha-caso {
  width: 100vh;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  /* margin-top: 2rem;
  padding-top: 2rem; */
}

.ficha-contenedor {
  width: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
}

.ficha-info {
  width: 100vh;
  display: flex;
  justify-content: left;
}

.ficha-titulo {
  width: 15vh;
  font-size: 1.7rem;
  font-weight: 700;
  font-family: var(--font2);
  color: var(--clr-black);
  padding: 0.5rem;
}

.ficha-titulo-2 {
  width: 40vh;
  font-size: 1.7rem;
  font-weight: 700;
  font-family: var(--font2);
  color: var(--clr-black);
  padding: 0.5rem;
}

.ficha-descrip {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: var(--font2);
  color: var(--clr-black);
  padding: 0.5rem;
  padding-left: 2rem;
  line-height: 1.5;
}

.ficha-descrip p {
  padding: 0.5rem;
  width: 80vh;
  display: flex;
  justify-content: left;
  align-items: stretch;
}

.ficha-descrip li {
  list-style: none;
  padding: 0.5rem;
}

/* Caso 1 CSS - section_2 */
.section_titulo {
  padding-bottom: 1rem;
}

.section_titulo h2 {
  font-family: var(--font1);
  font-size: 2rem;
  /* line-height: 2rem; */
  color: var(--clr-primary);
  padding-bottom: 1rem;
}

.section_2 {
  height: 40vh;
  width: 100vh;
  margin: 0 auto;
  /* background-color: var(--clr-lila); */
}

/* Caso 1 - sección_3 */
.section_3 {
  height: 55vh;
  width: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5rem;
}

.section_3-caso {
  display: flex;
  padding: 0.5rem;
}

/* Caso 1 - sección_4 */
.section_4 {
  height: 40vh;
  width: 100vh;
  margin: 0 auto;
}

/* Caso 1 - sección_5 */
.section_5 {
  width: 100vh;
  margin: 0 auto;
}

.caso_in {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: var(--font2);
  color: var(--clr-black);
  padding: 0.5rem;
  padding-left: 2rem;
  line-height: 1.5;
}

.caso_in p {
  padding-bottom: 2rem;
}

@media screen and (max-width: 880px) {
  .section-container {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 85%;
  }
  .about-profile-container {
    grid-template-columns: 1fr;
  }
  .about__portrait {
    height: 200px;
    background-position: top;
    order: 1;
    background-size: contain;
  }
  .contact-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact-container-left {
    width: 80%;
    border-radius: 1rem 1rem 0 0;
  }

  .contact-container-right {
    width: 80%;
    border-radius: 0 0 1rem 1rem;
  }
}

@media screen and (max-width: 450px) {
  .nav {
    transform: translateX(100%);
    width: 100%;
  }
  .nav-open {
    transform: translateX(0%);
  }
}
