:root {
  --clr-primary: #6a2c70;
  --clr-secondary: #b83b5e;
  --clr-blue: #c46f8b;
  --clr-white: #fffefe;
  --clr-beige: #fffef6;
  --clr-black: #333;
  --clr-gray: rgb(248, 248, 248);
  --clr-dark-gray: #666;
  --clr-overlay: rgba(0, 0, 0, 0.8);
  --clr-lila: #fcf1fd;
  --font1: "Merriweather", serif;
  --font2: "Rubik", sans-serif;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  color: var(--clr-black);
  scroll-behavior: smooth;
  margin: 0 auto;
  font-family: "Merriweather", serif;
  font-family: "Rubik", sans-serif;
}

html::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: var(--clr-black);
}

i {
  cursor: pointer;
}

.header {
  height: 100%;
  position: relative;
  z-index: 999;
}

.logo {
  display: none;
  position: fixed;
  left: 2rem;
  top: 2rem;
  z-index: 99999;
}

.logo p {
  font-size: 2rem;
  font-family: var(--font1);
}
.menu-toggle {
  position: fixed;
  right: 2rem;
  top: 2rem;
  color: var(--clr-primary);
  z-index: 999;
  cursor: pointer;
  outline: none;
}

header .fa-bars,
header .fa-times {
  font-size: 3rem;
}

header .fa-times {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.overlay {
  background: var(--clr-overlay);
  height: 100vh;
  width: 100%;
  z-index: 99999;
  position: absolute;
  opacity: 0;
  width: 0;
  transition: opacity 0.5s;
  position: fixed;
}

.overlay-active {
  transition: opacity 0.5s;
  width: 100%;
  opacity: 1;
}

.nav {
  transform: translateX(25rem);
  position: fixed;
  top: 0;
  right: 0;
  width: 25rem;
  height: 100vh;
  z-index: 99999;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: transform 0.5s;
  background-color: var(--clr-beige);
}

.nav-open {
  transform: translateX(0rem);
  background-color: var(--clr-beige);
}

.nav__menu-list {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.nav__menu-list ul {
  list-style: none;
  text-align: center;
}

.nav__menu-list li {
  padding-bottom: 2rem;
  font-family: var(--font2);
  font-size: 1.7rem;
  font-weight: 300;
}

.nav__menu-ul a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1.2rem;
  background-color: var(--clr-primary);
  height: 0.2rem;
  transition: 0.3s;
}

.nav__menu-list a:hover::after {
  width: 100%;
}

.nav__menu-ul a {
  width: 100%;
  position: relative;
}

.nav__social {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.nav__social i {
  font-size: 3rem;
  color: var(--clr-black);
}

.nav__social i:hover {
  font-size: 3rem;
  color: var(--clr-blue);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  background: url("../images/triangle.jpg") left center no-repeat;
  background-size: cover;
}

.main:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgb(106, 44, 112);
  background: linear-gradient(
    47deg,
    rgba(106, 44, 112, 1) 4%,
    rgba(240, 138, 93, 0.9293912394662921) 44%,
    rgba(184, 59, 94, 1) 91%
  );
  opacity: 0.7;
  z-index: 1;
}

.main__hero {
  height: calc(80vh - 3rem);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.main__hero-left {
  text-align: center;
}

.main__hero-left h1 {
  font-family: var(--font1);
  font-size: 7rem;
  font-weight: 700;
  font-style: italic;
  line-height: 2rem;
  color: var(--clr-beige);
  text-shadow: 0px 0px 6px var(--clr-black);
  margin-bottom: 10px;
  top: 50%;
  left: 50%;
}

/* css profesion inicia */

.ms-header__title {
  -webkit-box-flex: 1;
  flex: 1 1 100%;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-family: var(--font2);
  font-weight: 300;
  color: var(--clr-black);
}

.ms-slider {
  display: inline-block;
  height: 4.5rem;
  overflow: hidden;
  vertical-align: middle;
  margin-top: 1rem;
}
.ms-slider__words {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-animation-name: wordSlider;
  animation-name: wordSlider;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 7s;
  animation-duration: 7s;
}
.ms-slider__word {
  display: block;
  line-height: 2em;
  text-align: center;
}

@-webkit-keyframes wordSlider {
  0%,
  27% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  33%,
  60% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  66%,
  93% {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  100% {
    -webkit-transform: translateY(-75%);
    transform: translateY(-75%);
  }
}

@keyframes wordSlider {
  0%,
  27% {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
  33%,
  60% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  66%,
  93% {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  100% {
    -webkit-transform: translateY(-75%);
    transform: translateY(-75%);
  }
}
/* css profesion termina */
.main__hero-left p {
  font-size: 3rem;
  font-weight: 400;
  font-family: var(--font2);
  color: var(--clr-black);
}

.chevron__container {
  /* margin-top: 35rem; */
  z-index: 2;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}

.chevron__container p {
  font-size: 3rem;
  font-weight: 300;
  color: var(--clr-beige);
  transform: rotate(45deg);
  display: block;
  width: 30px;
  height: 30px;
  margin: -30px;
  animation: animate 2s infinite;
}

.chevron__container p:nth-child(2) {
  animation-delay: -0.2s;
}
.chevron__container p:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
}

.main__content {
  margin: 0 auto;
}

/* MAIN */

.section-container {
  padding-top: 80px;
  padding-bottom: 80px;
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  color: var(--clr-primary);
  font-family: var(--font1);
  font-style: italic;
  font-size: 4.5rem;
  margin-bottom: 3rem;
  text-align: center;
}

.about-profile-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 0 auto;
}

.about__portrait {
  background: url("../images/avataaars.svg") no-repeat;
  background-size: contain;
  background-position: center;
  width: 70%;
  height: 100%;
  order: 2;
  margin: 0 auto;
}

.about__description {
  order: 1;
}

.about__description p {
  line-height: 1.5;
  font-family: var(--font2);
  font-size: 1.7rem;
  padding: 1.5rem;
}

.about__description p span {
  color: var(--clr-secondary);
}

/* projects section */

.uxui-background {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23666666' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.uxui__description p {
  line-height: 1.5;
  font-family: var(--font2);
  font-size: 1.7rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: 80%;
  justify-content: center;
  text-align: center;
}

.uxui__description p span {
  color: var(--clr-blue);
}

.containerux {
  margin: 0 auto;
}

.filters {
  width: 100%;
  text-align: center;
}

.filters ul {
  list-style: none;
  padding: 20px 0;
}

.filters li {
  display: inline;
  padding: 6px 10px;
  font-size: 14px;
  font-family: var(--font1);
  color: var(--clr-black);
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.filters li:hover {
  color: var(--clr-secondary);
}

.filters li.active {
  color: var(--clr-black);
  border: 1px solid var(--clr-secondary);
  border-radius: 15px;
}

.p2:hover {
  opacity: 0.3;
  cursor: pointer;
}

.content-uxui {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.single-content img {
  width: 280px;
  height: 100%;
  margin-top: 10px;
  border-radius: 5px;
}

.single-content p {
  width: 100%;
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding-top: 0.5rem;
}

/* skills secton  */
.skills-background {
  background-color: var(--clr-lila);
}

.skills-container {
  width: 80%;
  margin: 0 auto;
}

.skills-container ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-container i {
  font-size: 10rem;
  margin: 3rem;
  color: var(--clr-black);
  transition: transform 0.5s;
}

.skills-container i:hover {
  transform: scale(1.1);
  color: var(--clr-blue);
  transition: transform 0.2s;
}

.comunication-container h3 {
  color: var(--clr-secondary);
  font-family: var(--font2);
  font-size: 2rem;
  padding-top: 4rem;
  padding-bottom: 1rem;
}

.comunication-reverse {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  font-family: var(--font2);
  font-size: 1.7rem;
}

.reverse {
  padding: 0;
}

.comunication-reverse img {
  width: 350px;
  border-radius: 5px;
  margin: 0 auto;
}

.comunication-image {
  padding: 0;
}

.comunication-desc {
  width: 100%;
  line-height: 1.5;
  font-family: var(--font2);
  font-size: 1.7rem;
  /* padding: 2rem; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.comunication-desc img {
  width: 350px;
  border-radius: 5px;
  margin: 0 auto;
}

.comunication-desc p {
  width: 100%;
  padding-left: 2rem;
  margin: 0 auto;
}

/* contact me section  */

.contact-container {
  width: 90%;
  height: 60vh;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.contact-background {
  background-color: #6a2c70;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.44' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.section-title__contact {
  color: var(--clr-beige);
}

.contact-container-left {
  background: var(--clr-gray);
  width: 40%;
  border-radius: 1rem 0 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 3rem;
  padding-top: 8rem;
  text-align: center;
}

.contact-container-left p {
  line-height: 1.5;
  font-family: var(--font1);
  font-weight: 300;
  color: var(--clr-black);
  font-size: 1.7rem;
}

.contact-container-left i {
  font-size: 4rem;
  padding-bottom: 10rem;
}

.contact-container-left i:hover {
  font-size: 4rem;
  color: var(--clr-blue);
}

.contact-container-right {
  width: 60%;
  padding: 3rem 0;
  border-radius: 0 1rem 1rem 0;
  background-color: var(--clr-white);
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
}

.form-row {
  position: relative;
  margin-bottom: 1rem;
}

.contact-form label {
  position: absolute;
  left: 0;
  bottom: 0.6rem;
  color: var(--clr-black);
  font-size: 1.8rem;
  pointer-events: none;
  transition: all 0.5s;
}

.contact-form .input:focus ~ label,
.contact-form .input:valid ~ label {
  font-size: 1.3rem;
  bottom: 5rem;
  color: var(--clr-primary);
  scroll-behavior: smooth;
}

.contact-form .input {
  color: var(--clr-dark-gray);
  width: 100%;
  background-color: var(--clr-white);
  border: none;
  border-bottom: 1px solid var(--clr-secondary);
  height: 4rem;
  letter-spacing: 0.2rem;
  padding: 1rem;
  position: relative;
  bottom: 0;
  margin-top: 2rem;
}

.contact-form .textarea {
  resize: none;
  height: 4rem;
  background-color: var(--clr-white);
}

.contact-form .input:focus {
  outline: none;
  color: var(--clr-black);
  background-color: var(--clr-white);
}

.form-line:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.5rem;
  width: 0%;
  transition: all 0.5s;
}

.contact-form .input:focus ~ .form-line:after {
  width: 100%;
  background-color: var(--clr-secondary);
}

.btn-submit {
  border: none;
  padding: 2rem;
  margin-top: 1.5rem;
  background: var(--clr-primary);
  color: var(--clr-white);
  font-size: 1.5rem;
}

.btn-submit:hover {
  padding: 2rem;
  margin-top: 1.5rem;
  border: solid 1px var(--clr-primary);
  background: var(--clr-white);
  color: var(--clr-black);
  font-size: 1.5rem;
}

.footer {
  width: 100%;
  height: 60px;
  background-color: var(--clr-blue);
  font-size: 1.2rem;
  font-weight: 300;
  font-family: var(--font2);
  color: var(--clr-beige);
  padding: 0.5rem;
  padding-left: 2rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Caso 1-CSS */

.main__caso {
  padding-top: 80px;
  width: 100%;
  margin: 0 auto;
}

.header-caso-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.header__caso-1 {
  height: 40vh;
  width: 60%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  padding-top: 4rem;
}

.header_back-1 {
  background: url("../images/map-person.jpg") left center no-repeat;
  background-size: cover;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.header__left-caso-1 {
  flex-direction: column;
}

.header__left-caso-1 img {
  width: 50%;
  border-radius: 5px;
}

.header__left-caso-1 h1 {
  font-family: var(--font1);
  font-size: 4.8rem;
  line-height: 5rem;
  color: var(--clr-beige);
  text-shadow: 2px 2px 4px var(--clr-black);
}

.header__left-caso-1 p {
  width: 70%;
  font-size: 1.7rem;
  font-weight: 300;
  font-family: var(--font2);
  color: var(--clr-beige);
  padding-top: 3rem;
  text-shadow: 2px 2px 4px var(--clr-black);
}

.chevron__container-caso-1 {
  text-align: center;
  animation-duration: 5s;
  z-index: 2;
  margin-bottom: 3rem;
}
.chevron__container-caso-1 i {
  font-size: 2rem;
  color: var(--clr-beige);
}
.chevron__container-caso-1 p:last-child {
  margin-top: -1.3rem;
}

.main__caso {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23a5a5a5' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.ficha-section {
  width: 100vh;
  margin: 0 auto;
}

.ficha-caso {
  width: 100vh;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
}

.ficha-contenedor {
  width: 100vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

.ficha-info {
  width: 100vh;
  display: flex;
  justify-content: left;
}

.ficha-titulo {
  width: 15vh;
  font-size: 1.7rem;
  font-weight: 700;
  font-family: var(--font2);
  color: var(--clr-black);
  padding: 0.5rem;
}

.ficha-titulo-2 {
  width: 40vh;
  font-size: 1.7rem;
  font-weight: 700;
  font-family: var(--font2);
  color: var(--clr-black);
  padding: 0.5rem;
}

.ficha-descrip {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: var(--font2);
  color: var(--clr-black);
  padding: 0.5rem;
  padding-left: 2rem;
  line-height: 1.5;
}

.ficha-descrip p {
  padding: 0.5rem;
  width: 80vh;
  display: flex;
  justify-content: left;
  align-items: stretch;
}

.ficha-descrip li {
  list-style: none;
  padding: 0.5rem;
}

.ficha-descrip-2 {
  width: 80%;
  padding: 0;
  margin: 0 auto;
}

/* Caso 1 CSS - section_2 */

.section_titulo h2 {
  font-family: var(--font1);
  font-size: 2.5rem;
  color: var(--clr-primary);
  padding-bottom: 2rem;
}

.section_2 {
  height: 40vh;
  width: 100vh;
  margin: 0 auto;
  /* background-color: var(--clr-lila); */
}

/* Caso 1 - sección_3 */

.section-container-caso {
  width: 90%;
  margin: 0 auto;
}

.single-content-caso img {
  width: 300px;
  height: 100%;
  margin: 5px;
  border-radius: 5px;
  padding: 0px;
}

.section_titulo-heavy {
  color: var(--clr-primary);
  font-family: var(--font1);
  font-style: italic;
  font-size: 1.7rem;
  margin: 0 auto;
  text-align: center;
}

.section_3 {
  height: 55%;
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0.5rem;
}

.section_3-caso {
  display: flex;
  padding: 0.5rem;
}

.ficha-info-users {
  width: 62%;
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
  margin: 0 auto;
}

.ficha-info-users img {
  border-radius: 5px;
}

/* Caso 1 - sección_4 */
.section_4 {
  width: 45%;
  height: 40vh;
  margin: 0 auto;
  padding-top: 3rem;
}

/* Caso 1 - sección_5 */
.section_5 {
  width: 100vh;
  margin: 0 auto;
  padding-top: 3rem;
}

/* Caso 1 - sección_6 */
.section_6 {
  width: 70%;
  margin: 0 auto;
  padding-top: 3rem;
}

.section_6_img {
  display: flex;
  justify-content: center;
}

.section_6_img img {
  width: 65%;
  border-radius: 5px;
}

.single-content-caso p {
  font-size: 14px;
  font-family: var(--font2);
  font-weight: 300;
  padding-bottom: 2rem;
  text-align: center;
}

/* Caso 1 - sección_7 */
.section_7 {
  width: 65%;
  margin: 0 auto;
  padding-top: 3rem;
}

.arquetipo {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: var(--font2);
  color: var(--clr-black);
  padding: 0.5rem;
  padding-left: 2rem;
  line-height: 1.5;
  display: flex;
}

.arquetipo-img img {
  border-radius: 5px;
}

.arquetipo-texto {
  width: 50%;
  padding-left: 2rem;
}

.arquetipo-texto span {
  font-weight: 700;
}

.contenido-relacionado {
  width: 100%;
  background-color: #6a2c70;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.44' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
  margin-top: 3rem;
  padding-bottom: 5rem;
}

.titulo-relacionado h3 {
  font-size: 2.5rem;
  font-weight: 400;
  font-family: var(--font1);
  color: var(--clr-beige);
  text-align: center;
  padding-top: 3rem;
  margin: 0em;
}

.contenedor-rel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  font-size: 1.7rem;
  font-weight: 300;
  font-family: var(--font2);
  color: var(--clr-beige);
}

.contenedor-rel p {
  padding-bottom: 1rem;
}

.contenedor-rel img {
  margin-right: 5rem;
  border-radius: 5px;
}

/* Fin sección 7 */

.grid-map {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.caso_in {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: var(--font2);
  color: var(--clr-black);
  padding: 0.5rem;
  padding-left: 2rem;
  line-height: 1.5;
}

.caso_in p {
  padding-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: var(--font2);
}

.caso_in-map {
  font-size: 1.5rem;
  font-weight: 300;
  font-family: var(--font2);
  color: var(--clr-black);
  padding: 0.5rem;
  padding-left: 2rem;
  line-height: 1.5;
}

.caso_in-map p {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}
/* Fin Caso 1 */

/* Inicio Caso 2: Eymi App */
.header-caso-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.header__caso-2 {
  height: 80vh;
  width: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  z-index: 2;
  padding-top: 4rem;
}

.header_back-2 {
  width: 100%;
  height: 100%;
  background: url("../images/eymi-m.png") right no-repeat;
  background-size: cover;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.header__left-caso-2 {
  width: 60%;
  padding-bottom: 6rem;
}

.header__left-caso-2 h1 {
  font-family: var(--font1);
  font-size: 7rem;
  font-weight: 700;
  font-style: italic;
  line-height: 5rem;
  color: var(--clr-beige);
  text-shadow: 2px 2px 4px var(--clr-black);
  padding-bottom: 3rem;
}

.header__left-caso-2 p {
  width: 70%;
  font-size: 2.2rem;
  font-weight: 300;
  font-family: var(--font2);
  color: var(--clr-beige);
  padding-top: 2rem;
  text-shadow: 2px 2px 4px var(--clr-black);
}

.ficha-titulo-caso-2 {
  width: 100%;
  font-size: 1.7rem;
  font-weight: 700;
  font-family: var(--font2);
  color: var(--clr-black);
  padding-left: 2rem;
}

.ficha-section-caso-2 {
  width: 100%;
  display: flex;
  padding: 5rem 20rem;
  margin: 0 auto;
}

.contenedor-caso-2 {
  width: 50%;
  padding: 0;
}
.ficha-contenedor-caso-2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  padding-left: 5rem;
}
.ficha-info-caso-2 {
  padding-bottom: 1.5rem;
}

.ficha-info-caso-2 h4 {
  color: var(--clr-primary);
}

.titulo-caso-2 {
  color: var(--clr-primary);
  font-family: var(--font1);
  font-size: 2.5rem;
  margin-bottom: 3rem;
  text-align: center;
}

.second_titulo h2 {
  color: var(--clr-primary);
  font-family: var(--font1);
  font-size: 2.5rem;
  padding-left: 20rem;
}

.ficha-descrip-caso-2 {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: var(--font2);
  color: var(--clr-black);
  padding: 0 2rem;
  line-height: 1.5;
}

.ficha-descrip-caso-2 li {
  list-style: none;
}
.proceso-caso-2 {
  color: var(--clr-primary);
  font-family: var(--font1);
  font-size: 2.5rem;
  margin-bottom: 3rem;
  text-align: center;
}
.pro-caso-2 h2 {
  padding-bottom: 5rem;
}

.problema-caso-2 {
  width: 50%;
  margin: 0 auto;
  padding: 5rem;
}
.entender-problema {
  width: 100%;
}
.entender-problema h2 {
  color: var(--clr-black);
  font-family: var(--font2);
  font-size: 2.5rem;
  margin-bottom: 3rem;
  text-align: left;
}

.entrev-caso-2 {
  width: 50%;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: var(--font2);
  color: var(--clr-black);
  margin: 0 auto;
  padding: 3rem;
  line-height: 1.5;
}
.section_3-caso-2 {
  width: 100%;
  padding: 5rem 1rem;
}

.entre-caso-2 {
  width: 100%;
  padding: 0;
  margin: 0;
}

.entrev-caso-2 {
  width: 55%;
  text-align: left;
  margin: 0;
  padding: 2rem 5rem 5rem 20rem;
}

.entrev-insight {
  width: 80%;
  display: flex;
  margin: 0 auto;
}

.entrevista {
  background-color: var(--clr-blue);
  width: 30%;
  font-size: 1.7rem;
  font-family: var(--font2);
  font-weight: 300;
  color: var(--clr-beige);
  margin: 0 auto;
  padding: 2.7rem;
  line-height: 2.5rem;
  border-radius: 5px;
}

.entrevista span {
  color: var(--clr-primary);
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.5rem;
}

.ficha-descrip-caso-2 span,
.bench-intro span,
.fi-t-caso-2 span,
.branding-logo span,
.interfaz-flex span {
  color: var(--clr-secondary);
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5rem;
}
.interfaz-flex span a {
  color: var(--clr-secondary);
}

.section-arquetipo-caso-2 {
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  padding-top: 5rem;
}

.arquetipo-caso-2 {
  width: 65%;
  display: flex;
  padding: 5rem 0;
  margin: 0 auto;
}

.arquetipo-foto {
  padding: 0;
  margin: 0 auto;
}

.arq-cont-caso-2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-left: 5rem;
}

.arq-cont-caso-2 h3 {
  width: 100%;
  font-size: 2rem;
  font-family: var(--font1);
  font-weight: 400;
  color: var(--clr-secondary);
  line-height: 2rem;
  margin: 0;
  padding-bottom: 1rem;
}

.arq-cont-caso-2 p {
  width: 100%;
  font-size: 1.5rem;
  font-family: var(--font2);
  font-weight: 300;
  line-height: 2rem;
  margin: 0 auto;
  padding-bottom: 2rem;
}
.arquetipo-descrip {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}
.benchmark-caso-2 {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 4rem;
}
.org-info {
  width: 80%;
  margin: 0 auto;
}

.org-info h2 {
  color: var(--clr-black);
  font-family: var(--font2);
  font-size: 2.5rem;
  margin-bottom: 5rem;
}

.bench-texto-titulo {
  width: 79%;
  color: var(--clr-primary);
  font-family: var(--font1);
  font-size: 1.7rem;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.bench-intro {
  width: 70%;
  display: flex;
  margin: 0;
  padding: 0;
}

.benchmark-caso-2 h2 {
  text-align: left;
}

.benchmark-caso-2 p {
  width: 60%;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: var(--font2);
  color: var(--clr-black);
  padding-left: 13rem;
  line-height: 1.5;
  margin: 0;
}

.cs-texto {
  width: 71%;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: var(--font2);
  color: var(--clr-black);
  margin: 0 auto;
  line-height: 1.5;
  display: flex;
  margin-top: 1rem;
}

.cs-texto img {
  width: 90%;
  padding: 2rem;
}

.cs-texto p {
  width: 60%;
  padding-left: 2rem;
  margin-top: 1rem;
}

.mp-caso-2 {
  padding: 6rem 0;
}

.mp-t-caso-2 {
  width: 90%;
  padding: 0 3rem 3rem 10rem;
  display: flex;
}

.mp-t-caso-2 p {
  width: 50%;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: var(--font2);
  color: var(--clr-black);
  padding: 3rem 3rem 3rem 10rem;
  line-height: 1.5;
  display: flex;
}

.mp-image-1 img {
  width: 80%;
}

.mp-image-2 {
  width: 100%;
  text-align: right;
  padding-right: 5rem;
}
.mp-image-2 img {
  width: 70%;
  margin: 0 auto;
  padding: 0 3rem;
}

.interaccion-info {
  width: 71%;
  color: var(--clr-black);
  font-family: var(--font2);
  font-size: 1.7rem;
  text-align: left;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.fi-caso-2 {
  background-color: var(--clr-beige);
  padding: 6rem 0;
}

.fi-t-caso-2 img {
  width: 90%;
  margin: 0 auto;
  padding-left: 18rem;
}

.fi-t-caso-2 p {
  width: 60%;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: var(--font2);
  color: var(--clr-black);
  padding: 3rem 3rem 3rem 20rem;
  line-height: 1.5;
}

.wf-caso-2 {
  background-color: #6a2c70;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.04'%3E%3Cpath fill='%237c3483' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%238e3b97' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23a143ab' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23b44bbf' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23c853d4' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23d367db' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23df7ae2' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23ea8ce9' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23f49eef' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23ffb0f6' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  padding: 5rem 0;
}

.wf-caso-2 h2 {
  width: 78%;
  color: var(--clr-beige);
  padding: 0 5rem;
  margin: 0 auto;
}

.wf-t-caso-2 {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: var(--font2);
  color: var(--clr-black);
  padding: 3rem 3rem 3rem 20rem;
  line-height: 1.5;
}

.wf-t-caso-2 p {
  color: var(--clr-beige);
  width: 40%;
  padding-bottom: 3rem;
}

.wf-t-caso-2 img {
  width: 90%;
  padding: 0;
  margin: 0 auto;
}

.dis-inter {
  width: 70%;
  color: var(--clr-black);
  font-family: var(--font2);
  font-size: 1.7rem;
  margin: 0 auto;
  padding-left: 1.7rem;
}

.bench-texto,
.interfaz-caso-2 {
  width: 100%;
  font-size: 1.5rem;
  font-family: var(--font2);
  font-weight: 300;
  text-align: left;
  margin: 0 auto;
  padding: 6rem 2.7rem;
  line-height: 1.7rem;
}

.cs-texto img,
.interf-t-caso-2 img {
  width: 100%;
  padding: 1rem 0;
  margin: 0 auto;
}

.mood-text,
.interf-t-caso-2 {
  width: 70%;
  font-size: 1.5rem;
  font-family: var(--font2);
  font-weight: 300;
  padding-top: 2rem;
  margin: 0 auto;
}
.mood-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mood-flex p {
  padding-top: 2rem;
}
.mood-list {
  color: var(--clr-secondary);
  font-size: 1.5rem;
  font-family: var(--font1);
  font-weight: 700;
  padding-right: 2rem;
}

.mood-list li {
  width: 50%;
  padding: 1rem;
}

.mood-concept {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mood-concept-img {
  width: 75%;
  margin: 0;
}

.mood-text h3,
.interf-t-caso-2 h3 {
  color: var(--clr-secondary);
  padding: 2rem;
}
.mood-text p,
.interf-t-caso-2 p {
  width: 50%;
  font-size: 1.5rem;
  font-family: var(--font2);
  font-weight: 300;
  padding: 0 0 1rem 2rem;
}
.mood-text li {
  list-style: none;
}
.mood-text img {
  width: 100%;
  margin: 0 auto;
}

.interf-t-caso-2 {
  width: 70%;
  margin: 0 auto;
}

.interf-t-caso-2 img,
.faz-caso-2 img {
  width: 40%;
}

.tipografia {
  width: 100%;
  text-align: right;
}
.tipografia img {
  width: 45%;
}

.eymi-caso-2 {
  width: 70%;
  margin: 5rem auto;
  padding-right: 3rem;
}

.eymi-caso-2 h3 {
  color: var(--clr-secondary);
}
.faz-caso-2 {
  display: flex;
}

.eymi {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.eymi img {
  width: 50%;
  display: flex;
}

.eymi p {
  width: 40%;
  padding-top: 2rem;
}
.faz-caso-2 p {
  width: 50%;
}

.faz-2 img {
  width: 100%;
}
.branding-logo img {
  width: 100%;
}
.prototipo-caso-2 {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
}

.prototipo-caso-2 h3 {
  width: 100%;
  color: var(--clr-secondary);
  font-size: 1.7rem;
  font-family: var(--font2);
}

/* .prototipo-caso-2 img {
  position: relative;
} */

.prototipo-caso-2 p {
  width: 35%;
  /* position: absolute; */
}

.interfaz-flex {
  width: 100%;
  display: flex;
  padding-top: 4rem;
}

.interfaz-flex img {
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: right;
}
.interfaz-flex p {
  width: 60%;
}
.pru-usab {
  width: 70%;
  color: var(--clr-black);
  font-family: var(--font2);
  font-size: 1.7rem;
  margin: 0 auto;
  padding-left: 1.7rem;
}

.test-descrip-caso-2 {
  width: 95%;
  display: flex;
  justify-content: space-around;
}

.test-descrip-caso-2 img {
  width: 80%;
  margin: 0;
  padding: 0;
}

.test-descrip-caso-2 p {
  width: 40%;
  font-size: 1.5rem;
  font-family: var(--font2);
  font-weight: 300;
  margin: 0;
  padding: 1rem 0rem 1rem 19rem;
}

.tes-resul-caso-2 {
  width: 50%;
  padding-left: 5rem;
  flex-direction: column;
}
.tes-resul-caso-2 p {
  width: 80%;
  font-size: 1.5rem;
  font-family: var(--font2);
  font-weight: 300;
  padding-left: 2rem;
}

.resul-caso-2 {
  width: 45%;
  margin: 0;
  padding-left: 12rem;
}

.resul-caso-2 img {
  width: 100%;
  margin: 0;
  padding: 3rem;
}

.resul-caso-2 p {
  width: 90%;
  font-size: 1.5rem;
  font-family: var(--font2);
  font-weight: 300;
  padding-left: 2rem;
  margin: 0 auto;
}

.contenido-relacionado {
  background-color: #6a2c70;
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.44' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}

.cont-rel {
  margin: 2rem;
}

.cont-rel p,
.cont-rel img {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 2rem;
  border-radius: 5px;
}

@media screen and (max-width: 880px) {
  .main__content {
    margin: 0 auto;
  }

  .section-container {
    width: 100%;
    margin: 0 auto;
  }
  .about-profile-container {
    grid-template-columns: 1fr;
  }
  .about__portrait {
    height: 200px;
    background-position: top;
    order: 1;
    background-size: contain;
  }

  .about__description {
    width: 100%;
    padding: 5rem;
  }

  .main__hero-left h1 {
    font-size: 6rem;
    line-height: 6.5rem;
    padding: 2rem;
  }
  .chevron__container {
    padding-top: 20rem;
  }
  .section-title {
    font-size: 3.5rem;
    margin: 1rem;
  }

  .containerux {
    margin: 0 auto;
  }

  .skills-container {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .comunication-container {
    padding: 0;
    margin: 0;
  }

  .comunication-a,
  .comunication-reverse {
    width: 100%;
    flex-direction: column-reverse;
    padding: 0;
    margin: 0;
  }
  .comunication-a,
  .comunication-reverse p {
    width: 100%;
    margin: 0;
    padding-bottom: 0.5rem;
  }

  .comunication-desc h3 {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    margin: 0;
  }

  .comunication-a,
  .comunication-reverse img {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .comunication-image {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 1rem;
  }

  .contact-container {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 3rem;
  }

  .contact-container-left {
    width: 100%;
    border-radius: 1em 1em 0 0;
  }

  .contact-container-left p {
    margin: 1rem;
    padding: 1rem;
  }

  .contact-container-left i {
    padding: 0;
    margin: 0;
  }

  .contact-container-right {
    width: 100%;
    border-radius: 0 0 1em 1em;
  }

  .titulo-relacionado {
    padding-bottom: 2rem;
  }

  .contenido-relacionado {
    margin: 0 auto;
  }

  .contenedor-rel {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    margin: 0 auto;
  }

  .contenedor-rel p {
    padding-bottom: 2rem;
  }

  .cont-rel-left,
  .cont-rel-right {
    text-align: center;
    margin: 0 auto;
  }

  .contenedor-rel img {
    width: 80%;
    margin: 0 auto;
  }

  .footer {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer p {
    margin: 5px;
  }

  /* CASO 1 */
  .header__left-caso-1 h1 {
    font-family: var(--font1);
    font-size: 4rem;
    line-height: 5rem;
    color: var(--clr-beige);
    text-shadow: 2px 2px 4px var(--clr-black);
  }

  .header__left-caso-1 p {
    width: 90%;
    font-size: 1.7rem;
    font-weight: 300;
    font-family: var(--font2);
    color: var(--clr-beige);
    padding-top: 3rem;
    text-shadow: 2px 2px 4px var(--clr-black);
  }

  .main__caso {
    width: 100%;
  }

  .section_titulo {
    text-align: center;
    padding-top: 2rem;
    margin: 0;
  }
  .ficha-section {
    width: 85%;
    margin: 0 auto;
    padding: 0;
  }

  .ficha-caso {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
  }

  .section_2 {
    width: 100%;
    max-height: 150px;
    padding-bottom: 8rem;
    margin: 0;
  }

  .ficha-caso p {
    width: 100%;
    margin: 0;
  }

  .ficha-contenedor {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .ficha-info {
    width: 85vw;
    margin: 0;
    padding: 0;
    line-height: 2.8rem;
  }

  .ficha-info p {
    width: 75%;
    padding: 0;
    margin: 0;
  }

  .ficha-titulo-2 {
    padding: 0;
    margin: 0;
  }

  .section_3 {
    width: 50%;
    height: 100%;
  }

  .ficha-info-users {
    display: flex;
    flex-direction: column-reverse;
  }

  .ficha-info ul {
    width: 50%;
    margin: 0;
  }

  .ficha-info img {
    width: 100%;
  }
  .section_4 {
    width: 40%;
    height: 30vh;
    text-align: left;
    padding-bottom: 0;
  }
  .section_5 {
    width: 70%;
    padding: 0;
    margin: 0 auto;
  }

  .caso_in {
    padding-left: 3rem;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: var(--font2);
  }

  .caso_in-map p {
    width: 100%;
    font-size: 1.5rem;
    font-family: var(--font2);
    font-weight: 300;
    margin: 0;
    padding: 0;
  }

  .single-content-caso p {
    font-size: 1.5rem;
    font-family: var(--font2);
    font-weight: 300;
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }

  .section_6_img {
    width: 100%;
    height: 380px;
    margin: 0;
    padding: 0;
  }
  .section_6_img img {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .section_7 {
    width: 80%;
    margin: 0 auto;
  }
  .arquetipo-texto {
    width: 70%;
  }
}

@media screen and (max-width: 450px) {
  .nav {
    transform: translateX(100%);
    width: 100%;
  }
  .nav-open {
    transform: translateX(0%);
  }
  .nav__menu-list li {
    padding-bottom: 2rem;
    font-family: var(--font1);
    font-size: 2.2rem;
    font-weight: 300;
  }

  .nav__social i {
    font-size: 4rem;
    color: var(--clr-black);
  }

  .nav__social i:hover {
    font-size: 4rem;
    color: var(--clr-blue);
  }
  .main__hero-left h1 {
    font-size: 6rem;
    line-height: 6.5rem;
  }

  .ms-header__title {
    -webkit-box-flex: 1;
    flex: 1 1 100%;
    width: 100%;
    text-align: center;
    font-size: 2.2rem;
    font-family: var(--font2);
    font-weight: 300;
    color: var(--clr-black);
  }

  .ms-slider {
    display: inline-block;
    height: 4.5rem;
    overflow: hidden;
    vertical-align: middle;
    margin-top: 0.5rem;
  }
  .ms-slider__words {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-animation-name: wordSlider;
    animation-name: wordSlider;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 7s;
    animation-duration: 7s;
  }
  .ms-slider__word {
    display: block;
    line-height: 2em;
    text-align: center;
  }

  .chevron__container {
    padding-left: 5rem;
    padding-top: 10rem;
  }

  .section-title {
    font-size: 3.5rem;
    margin: 1.8rem;
  }

  .section-container {
    margin: 0 auto;
    padding-top: 4rem;
  }

  .about__description {
    width: 100%;
    padding: 2rem;
  }

  .content-uxui,
  .grid-item {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .grid-item {
    margin: 0 auto;
  }

  .single-content img {
    width: 280px;
    height: 100%;
    margin-top: 10px;
    border-radius: 5px;
  }

  .single-content p {
    width: 100%;
    font-size: 1.6rem;
    line-height: 1.5rem;
    padding-top: 0.5rem;
  }

  .skills-container {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .skills-container i {
    font-size: 8rem;
  }

  .comunication-a {
    width: 100%;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 2rem;
  }

  .comunication-desc {
    width: 100%;
    padding-top: 0.5rem;
    flex-direction: column;
    margin: 0 auto;
  }

  .comunication-container h3 {
    text-align: center;
    padding-bottom: 0;
  }

  .comunication-desc img {
    width: 100%;
    border-radius: 5px;
    margin: 0 auto;
  }

  .comunication-desc p {
    width: 100%;
    margin: 0 auto;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .reverse p {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .comunication-reverse img {
    padding-top: 2rem;
  }
  .contact-container {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 2rem;
  }

  .contact-container-left {
    width: 100%;
    margin: 1rem 1rem 0 0;
    padding: 0;
  }

  .contact-container-left p {
    margin-top: 1.5rem;
    padding: 1.5rem;
  }

  .contact-container-left i {
    padding: 0;
    margin: 0;
  }

  .contact-container-right {
    width: 100%;
  }

  .footer {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .footer p {
    margin: 0 auto;
  }
  /* CASO 1 */
  .main__caso {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    padding-top: 2rem;
  }

  .header-caso-1 {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .header__caso-1 {
    width: 100%;
  }

  .header__left-caso-1 h1 {
    font-family: var(--font1);
    font-size: 3.2rem;
    line-height: 3.6rem;
    color: var(--clr-beige);
    text-shadow: 2px 2px 4px var(--clr-black);
    margin-left: 3rem;
  }

  .header__left-caso-1 p {
    width: 90%;
    padding-top: 2rem;
    padding-right: 3rem;
    margin-left: 3rem;
  }

  .section_titulo {
    width: 90%;
    padding: 0;
    margin: 1rem;
  }
  .section_titulo-heavy {
    color: var(--clr-primary);
    font-family: var(--font1);
    font-style: italic;
    font-size: 1.5rem;
    padding-top: 10rem;
    margin: 2rem;
    text-align: center;
  }
  .ficha-section {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 10rem;
  }

  .ficha-titulo {
    margin: 0;
    padding: 0;
  }

  .ficha-caso {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 5rem;
    padding-left: 2.5rem;
    margin: 0 auto;
  }

  .ficha-caso p {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 2rem;
  }

  .section_2 {
    width: 100%;
    padding-bottom: 8rem;
    margin: 0;
  }

  .ficha-contenedor {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .ficha-descrip {
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }
  .ficha-contenedor p {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .ficha-info {
    widows: 100%;
    margin: 0 auto;
    padding: 1rem 0;
    line-height: 2.8rem;
    flex-direction: column;
    justify-content: center;
  }

  .ficha-info p {
    width: 100%;
    padding-right: 1rem;
    margin: 0 auto;
  }

  .ficha-titulo-2 {
    padding: 0;
    margin: 0;
  }

  .section_titulo-heavy h2 {
    width: 100%;
    margin: 0 auto;
    padding-top: 4rem;
  }

  .section_3 {
    width: 80%;
    height: 100%;
    padding: 0;
    margin: 0 auto;
  }

  .ficha-info-users {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    padding: 0;
  }

  .ficha-info-users img {
    width: 250px;
    margin: 0 auto;
    padding-bottom: 2rem;
  }

  .ficha-info ul {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .ficha-info img {
    width: 100%;
  }
  .section_4 {
    width: 100%;
    height: 100%;
    text-align: left;
    padding-bottom: 3rem;
    margin: 0;
  }
  .section_5 {
    width: 100%;
    margin: 0 auto;
    padding-right: 3rem;
  }

  .caso_in-map {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }
  .caso_in-map p {
    width: 100%;
    font-size: 1.5rem;
    font-family: var(--font2);
    font-weight: 300;
    margin: 0;
    padding: 0;
  }

  .single-content-caso img {
    width: 100%;
    margin: 0 auto;
    padding-top: 2rem;
  }

  .single-content-caso p {
    font-size: 1.5rem;
    font-family: var(--font2);
    font-weight: 300;
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }
  .section_6 {
    width: 85%;
  }
  .section_6_img {
    width: 100%;
    height: 180px;
    margin: 0;
    padding: 0;
  }
  .section_6_img img {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .section_7 {
    width: 80%;
    margin: 0 auto;
  }
  .arquetipo {
    width: 100%;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .arquetipo-img {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 1rem;
  }

  .arquetipo-img img {
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
  }

  .arquetipo-texto {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    margin-bottom: 3rem;
    font-size: 14px;
    font-family: var(--font2);
    font-weight: 300;
  }

  /* Fin Caso 1 */
}

@media screen and (max-width: 320px) {
  /* Inicio Caso 2: Eymi */
  .header-caso-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    margin: 0;
  }

  .header__caso-2 {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    padding: 0;
  }

  .header_back-2 {
    width: 100%;
    background: url("../images/eymi-m.png") right no-repeat;
    background-size: cover;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(2px);
    -webkit-filter: blur(2px);
  }

  .header__left-caso-2 {
    width: 90%;
    padding: 0;
  }

  .header__left-caso-2 h1 {
    font-family: var(--font1);
    font-size: 3.7rem;
    font-weight: 700;
    line-height: 3.6rem;
    color: var(--clr-beige);
    text-shadow: 2px 2px 4px var(--clr-black);
    text-align: center;
    padding: 3rem 2rem 0 2rem;
    margin: 0 auto;
  }

  .header__left-caso-2 p {
    width: 100%;
    font-size: 2rem;
    font-weight: 400;
    font-family: var(--font2);
    color: var(--clr-beige);
    text-shadow: 0px 0px 6px var(--clr-black);
    text-align: center;
    padding: 3rem 2rem 0 2rem;
    margin: 0 auto;
  }
  .section-2-caso-2 {
    padding: 0 1rem;
  }

  .ficha-titulo-caso-2 {
    width: 100%;
    font-size: 1.7rem;
    font-weight: 700;
    font-family: var(--font2);
    color: var(--clr-black);
    padding-left: 2rem;
    margin: 0;
  }

  .ficha-section-caso-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
  }

  .contenedor-caso-2 {
    width: 100%;
    padding: 1rem;
  }

  .ficha-contenedor-caso-2 {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
  }
  .ficha-info-caso-2 {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 1.5rem;
  }

  .ficha-descrip-caso-2 {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: var(--font2);
    color: var(--clr-black);
    padding: 0 2rem;
    line-height: 1.5;
  }

  .proceso-caso-2 {
    width: 100%;
    margin: 0 auto;
  }

  .proceso-caso-2 img {
    width: 90%;
  }

  .pro-caso-2 h2 {
    padding-top: 2rem;
    font-size: 2.5rem;
  }

  .problema-caso-2 {
    width: 100%;
    margin: 0;
    padding: 1rem;
  }

  .entender-problema h2,
  .org-info h2 {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 2rem;
  }
  .org-info {
    width: 100%;
    padding: 2rem 0;
  }

  .org-info h2 {
    line-height: 2.2rem;
  }
  .section_3-caso-2 {
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
  }

  .entre-caso-2 {
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }

  .second_titulo h2 {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }

  .entrev-caso-2 {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
  }

  .entrevista {
    width: 100%;
    font-size: 1.5rem;
    font-family: var(--font2);
    font-weight: 300;
    margin: 1rem auto;
    padding: 1.2rem 2.7rem;
    line-height: 1.7rem;
  }
  .entrev-insight {
    display: flex;
    flex-direction: column;
  }

  .entrevista span {
    color: var(--clr-secondary);
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1rem;
  }

  .section-arquetipo-caso-2 {
    width: 100%;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  .arquetipo-caso-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .arquetipo-caso-2 img {
    width: 100%;
    padding-top: 2rem;
  }

  .arq-cont-caso-2,
  .bench-intro p {
    width: 100%;
    text-align: left;
    margin: 0;
    padding: 1rem 0;
  }
  .arq-cont-caso-2 h3 {
    text-align: center;
    padding-top: 2rem;
  }

  .arq-cont-caso-2 p {
    padding: 1rem 1rem;
  }
  .benchmark-caso-2 {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }

  .bench-texto-titulo h2 {
    text-align: center;
  }

  .bench-intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .bench-texto {
    width: 100%;
    margin: 0 auto;
    padding: 2.5rem;
  }

  .bench-intro p {
    width: 100%;
    margin: 0 auto;
    padding: 0.5rem;
  }
  .cs-caso-2 {
    width: 100%;
  }

  .cs-texto {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem;
  }

  .cs-texto p {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
  }

  .fi-t-caso-2,
  .wf-t-caso-2,
  .interfaz-caso-2 {
    width: 100%;
    font-size: 1.5rem;
    font-family: var(--font2);
    font-weight: 300;
    text-align: left;
    margin: 0 auto;
    padding: 0 2.7rem;
    line-height: 1.7rem;
  }

  .cs-texto img,
  .wf-t-caso-2 img,
  .fi-t-caso-2 img,
  .interf-t-caso-2 img {
    width: 100%;
    padding: 2rem 0;
    margin: 0 auto;
  }

  .mp-image-2 {
    width: 100%;
  }

  .mp-image-2 img {
    width: 100%;
  }

  .mp-t-caso-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem;
  }

  .mp-t-caso-2 img {
    width: 100%;
    padding: 1.2rem 2.7rem;
    margin: 0 auto;
  }
  .mp-t-caso-2 p {
    width: 100%;
    font-size: 1.5rem;
    font-family: var(--font2);
    font-weight: 300;
    text-align: left;
    margin: 0 auto;
    padding: 2rem;
  }

  .mp-image-2 {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .interaccion-info {
    width: 100%;
    padding: 2rem 0;
  }
  .interaccion-info h2 {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }

  .fi-t-caso-2 p {
    width: 100%;
    margin: 0 auto;
    padding: 2rem 0 0 0.3rem;
  }

  .wf-t-caso-2 p {
    width: 100%;
    font-size: 1.5rem;
    font-family: var(--font2);
    font-weight: 300;
    line-height: 2rem;
    text-align: left;
    margin: 0 auto;
    padding: 2rem 0 0 0.4rem;
  }

  .dis-inter {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 2rem 0;
  }

  .dis-inter h2 {
    font-size: 2rem;
    padding: 2rem;
  }

  .interfaz-caso-2 {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .mood-flex {
    display: flex;
    flex-direction: column-reverse;
  }

  .mood-concept {
    display: flex;
    flex-direction: column-reverse;
  }

  .mood-text {
    width: 100%;
    font-family: var(--font2);
    font-weight: 300;
    margin: 0 auto;
    padding: 1rem;
  }

  .mood-text h3 {
    width: 100%;
    text-align: center;
    color: var(--clr-secondary);
    margin: 0 auto;
    padding-bottom: 2rem;
  }
  .mood-text p {
    width: 100%;
    font-size: 1.5rem;
    font-family: var(--font2);
    font-weight: 300;
    line-height: 2rem;
    text-align: left;
    padding: 1.9rem;
  }
  .mood-text li {
    list-style: none;
  }
  .mood-text img,
  .branding-logo {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .interf-t-caso-2 {
    width: 100%;
    margin: 0 auto;
    padding: 0 2.8rem;
  }

  .interf-t-caso-2 h3 {
    width: 100%;
    text-align: center;
    padding: 3rem 0 0 0;
  }

  .branding-logo p {
    width: 100%;
    font-size: 1.5rem;
    font-family: var(--font2);
    font-weight: 300;
    line-height: 2rem;
    text-align: left;
    margin: 0 auto;
    padding: 0.2rem;
  }

  .faz-caso-2 {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
    padding: 2rem 0;
  }
  .faz-caso-2 p,
  .eymi-caso-2 {
    width: 100%;
    font-size: 1.5rem;
    font-family: var(--font2);
    font-weight: 300;
    line-height: 2rem;
    text-align: left;
    margin: 0 auto;
    padding: 0;
  }

  .eymi-caso-2 h3 {
    width: 100%;
    text-align: center;
  }
  .eymi {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .eymi img {
    width: 90%;
    margin: 0 auto;
    padding-top: 2rem;
  }

  .eymi p {
    width: 100%;
    margin: 0 auto;
    padding: 2rem 2.5rem;
  }

  .prototipo-caso-2 {
    width: 100%;
    padding-top: 1rem;
  }
  .prototipo-caso-2 h3 {
    width: 100%;
    text-align: center;
  }

  .interfaz-flex {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 2rem 2.5rem;
  }

  .interfaz-flex p {
    width: 100%;
    font-size: 1.5rem;
    font-family: var(--font2);
    font-weight: 300;
    line-height: 2rem;
    text-align: left;
  }

  .interfaz-flex img {
    width: 100%;
    margin: 1rem auto;
    padding: 0;
  }

  .interfaz-flex a {
    color: var(--clr-secondary);
    font-weight: 400;
  }

  .test-caso-2 {
    width: 100%;
  }

  .pru-usab {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .pru-usab h2 {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    padding: 0;
  }

  .test-descrip-caso-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
  }

  .test-descrip-caso-2 p {
    width: 100%;
    font-size: 1.5rem;
    font-family: var(--font2);
    font-weight: 300;
    line-height: 2rem;
    margin: 0 auto;
    padding: 2rem 2.5rem;
  }

  .tes-resul-caso-2 {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .tes-resul-caso-2 img {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
  }

  .resul-caso-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
  }

  .resul-caso-2 img,
  .resul-caso-2 p {
    width: 85%;
    font-size: 1.5rem;
    font-family: var(--font2);
    font-weight: 300;
    line-height: 2rem;
    margin: 0 auto;
    padding: 2rem 0;
  }

  .contenedor-rel {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0;
  }

  .cont-rel {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
}
